.bookBtn {
  padding: 10px 30px;
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.bookBtn:hover {
  background-color: rgb(189, 0, 0);
  border: 1px solid #fff;
}
