.roomInfo {
  display: flex;
  box-sizing: border-box;
  width: 600px;
  color: gray;
  padding: 10px;
  border-radius: 7px;
  background-color: #fff;
  margin: 40px;
}
.aptInfo h4 {
  margin: 5px 5px 5px 0;
  font-weight: 300;
}
